// chip
.app-number-chip {
  // padding: 4px 5px;
  border-radius: 6px;
  background: $secondary02;
  color: $white;
  font-size: $font-02;
  font-weight: 700;
  width: 26px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-chip-wrapper {
  .app-filter-chip {
    margin: 0 8px 8px 0;
    border-radius: 999px;
    background: $white;
    border: 1px solid $blue-gray-4;
    padding: 7px 10px 7px 16px;
    height: 32px;
    max-width: initial;
    cursor: pointer;
    .q-chip__content {
      font-size: $font-02;
      line-height: $font-08;
      color: $blue-gray-10;
      span {
        font-weight: 600;
        margin: 0 4px;
        color: $blue-gray-11;
      }
    }
    .icon-cancel {
      font-size: $font-08;
      color: $blue-gray-5;
      opacity: 1;
      margin: 0;
    }
    &:hover {
      border: 1px solid $blue-gray-7;
      .icon-cancel {
        color: $blue-gray-7;
      }
    }

    &.disabled {
      cursor: default;
      .q-chip__content {
        color: $blue-gray-5;
        span {
          color: $blue-gray-5;
        }
      }
      .icon-cancel {
        color: $blue-gray-3;
      }
    }
  }
}

.app-position-chip {
  justify-content: center;
  width: 80px;
  height: 26px;
  padding: 0;
  font-size: $font-04;
  line-height: $font-08;
  font-weight: 500;
  text-align: center;
  border-radius: 999px;
  &.small-chip{
    width: auto;
    height: 22px;
    padding: 0 10px;
    margin: 0 0 0 4px;
    font-size: $font-02;
    line-height: $font-06;
    .q-chip__content{
      display: flex;
      align-items: center;
    }
    [class^="icon"]{
      font-size: $font-06;
      margin-right: 4px;
    }
  }

  div.q-chip__content {
    display: block;
  }
  &.chip-gray {
    background: rgba(101, 114, 138, 0.06);
    color: $blue-gray-9;
    [class^="icon-"]{
      color: $blue-gray-9;
    }
  }
  &.chip-brown {
    background: $brown-chip-bg;
    color: $brown-chip;
    [class^="icon-"]{
      color: $brown-chip;
    }
  }
  &.chip-red {
    background: $red-chip-bg;
    color: $red-chip;
    [class^="icon-"]{
      color: $red-chip;
    }
  }
  &.chip-pink {
    background: $pink-chip-bg;
    color: $pink-chip;
    [class^="icon-"]{
      color: $pink-chip;
    }
  }
  &.chip-purple {
    background: $purple-chip-bg;
    color: $purple-chip;
    [class^="icon-"]{
      color: $purple-chip;
    }
  }
  &.chip-blue {
    background: $blue-chip-bg;
    color: $blue-chip;
    [class^="icon-"]{
      color: $blue-chip;
    }
  }
  &.chip-primary {
    background: $primary-op-6;
    color: $primary;
    [class^="icon-"]{
      color: $primary;
    }
  }
  &.chip-teal {
    background: $teal-chip-bg;
    color: $teal-chip;
    [class^="icon-"]{
      color: $teal-chip;
    }
  }
  &.chip-green {
    background: $green-chip-bg;
    color: $green-chip;
    [class^="icon-"]{
      color: $green-chip;
    }
  }
  &.chip-orange {
    background: $orange-chip-bg;
    color: $orange-chip;
    [class^="icon-"]{
      color: $orange-chip;
    }
  }
  &.chip-yellow {
    background: $yellow-chip-bg;
    color: $yellow-chip;
    [class^="icon-"]{
      color: $yellow-chip;
    }
  }
}

//5. tab
.app-toolbar{
  padding: 0 24px;
  background: $white;
  box-shadow: 0 2px 6px rgba(22, 61, 140, 0.04);
  .tab-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -26px;
    transform: translateY(-50%);
    width: 20px;
    height: 18px;
    font-size: $font-01;
    font-weight: 600;
    background: $secondary02;
    border-radius: 4px;
  }
  .app-tab{
    height: 72px;
    .q-tab{
      padding: 0;
      width: 128px;
    }
    .q-tab__content{
      min-width: auto !important;
      .q-tab__label{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: $blue-gray-9;
        opacity: 1 !important;
      }
    }
    .q-tab--inactive{
      opacity: 1;
    }
    .q-tabs__content--align-center{
      justify-content: start;
    }
    .q-tab:hover{
      background: $primary-hover-op-6;
    }
    .q-tab--active{
      .q-tab__content{
        .q-tab__label{
          color: $primary;
          font-weight: 700;
        }
      }
      .q-tab__indicator{
        background: $primary;
        border-radius: 999px 999px 0 0;
      }
    }
    .q-tab.disabled{
      opacity: 1 !important;
      .q-tab__label{
        color: $blue-gray-5;
      }
      &:hover{
        background: $white;
      }
    }
  }
  .btn-container{
    display: flex;
    align-items: center;
    .sub-text-wrapper{
      display: flex;
      align-items: center;
      margin-right: 20px;
      [class^="icon"]{
        margin-right: 4px;
        font-size: 18px;
        color: $secondary01;
      }
      .sub-text{
        color: $blue-gray-10;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .app-btn + .app-btn{
      margin-left: 12px;
    }
  }

  //small
  &.small-toolbar{
    padding: 0 20px;
    .app-tab{
      height: 50px;
      .q-tab{
        padding: 0;
        width: 106px;
      }
      .q-tab__content{
        min-width: 78px;
        .q-tab__label{
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

//6. tree
.app-tree-wrapper{
  width: 240px;
  min-height: 100%;
  background: $blue-gray-2;
  .tree-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $blue-gray-3;
    .tree-title{
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: $blue-gray-10;
    }
  }
  .tree-menu-section{
    padding: 14px 16px;
    .q-tree__arrow{
      font-size: 16px;
      color: $blue-gray-8;
      &.q-tree__arrow--rotate{
        color: $primary;
      }
    }
    .q-tree__node-header{
      padding: 7px 6px;
      margin: 0;
      .q-tree__node-header-content{
        display: flex;
        justify-content: space-between;
        margin-left: 4px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: $blue-gray-10;
        .num-child{
          font-weight: 500;
          color: $blue-gray-9;
        }
      }
      .button-wrapper{
        display: none;
        align-items: center;
        height: 12px;
        .q-btn{
          width: 12px;
          height: 12px;
          min-height: auto;
          padding:0;
          color: $blue-gray-8;
          [class^="icon-"]{
            font-size: 12px;
          }
          &:hover:not(.disabled){
            color: $blue-gray-10;
          }
          &.disabled{
            color: $blue-gray-6;
          }
        }
        .q-btn+ .q-btn{
          margin-left: 8px;
        }
      }
      //hover
      &:hover{
        background: $blue-gray-3;
        .button-wrapper{
          display: flex;
        }
      }
    }
    .q-tree__node-collapsible{
      >.q-tree__children{
        padding: 0 0 0 20px;
        >.q-tree__node--parent{
          padding: 0;
        }
        >.q-tree__node--child{
          padding: 0;
        }
      }
    }
    .q-tree__children{
      padding-left: 0;
      .q-tree__node--child{
        padding-left: 20px;
        height: 30px;
        > .q-tree__node-header{
          padding: 5px 10px;
          border-radius: 6px;
          &:hover{
            background: $blue-gray-3;
            .button-wrapper{
              display: flex;
            }
          }
          &.active{
            color: $primary;
            background: $primary-op-10;
          }
          .q-tree__node-header-content{
            margin-left: 0;
            font-weight: 500;
            color: $blue-gray-9;
          }
        }
      }
    }
  }
}

//menu-option
@at-root .menu-option{
  width: 160px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid $blue-gray-4;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.04);
  .q-item{
    padding: 11px 12px;
    font-weight: 500;
    font-size: $font-04;
    line-height: $font-08;
    color: $blue-gray-10;
    border-radius: 4px;
    &:hover{
      color: $primary;
      background: $primary-op-6;
    }
  }
  .q-item + .q-item{
    margin-top: 4px;
  }
}

// 7. spinner
.app-spinner{
  color: $primary;
  &.spinner-fileuploader{
    width: 48px;
    height: 48px;
  }
  &.spinner-table-loading{
    width: 48px;
    height: 48px;
  }
  &.spinner-page-loading{
    width: 48px;
    height: 48px;
  }
}

// tooltip
.app-tooltip {
  max-width: 480px !important;
  padding: 6px;
  font-size: $font-04;
  font-weight: 500;
  line-height: 18px;
  color: $white;
  background: #757575;
  border-radius: 6px;
  &.tooltip-arrow{
    max-width: 561px !important;
    position: relative;
    padding: 10px 16px;
    background: $blue-gray-11;
    overflow: visible;
    &::after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%);
      border-bottom: 12px solid $blue-gray-11;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }
}

// announce-wrapper
.app-announce-wrapper{
  border-radius: 12px;
  overflow: hidden;
  //filter: drop-shadow(0px 2px 6px rgba(22, 61, 140, 0.04));
  .announce-title-section{
    display: flex;
    align-items: center;
    padding: 19px 20px;
    background: $blue-gray-0;
    .icon-new{
      font-size: $font-06;
      margin-right: 4px;
    }
    .announce-title{
      font-size: $font-04;
      line-height: $font-08;
      font-weight: 700;
      color: $blue-gray-9;
    }
    .announce-num{
      margin-left: 2px;
      font-size: $font-02;
      line-height: $font-06;
      font-weight: 500;
      color: $blue-gray-8;
    }
    .bar{
      width: 1px;
      height: 12px;
      background: $blue-gray-4;
      margin: 0 4px;
    }
    .btn-read, .btn-delete{
      padding: 0 8px;
    }
    .btn-read:not(.disabled) {
      color: $blue-gray-8;
    }
    .btn-close{
      margin-left: 8px;
    }
  }
  .announce-list{
    padding: 0 20px;
    background: $blue-gray-0;
    overflow-y: auto;
  }
}

// announce-card
.app-announce-card{
  height: 66px;
  padding: 8px;
  margin-bottom: 8px;
  background: $white;
  border: 1px solid $blue-gray-4;
  border-radius: 8px;
  cursor: pointer;
  &:last-child{
    margin-bottom: 20px;
  }
  .mark-new{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $secondary02;
    &.visited{
      background: transparent;
    }
  }
  .announce-content{
    display: flex;
    align-items: center;
    margin-left: 6px;
    .app-announce-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      margin-right: 14px;
      border-radius: 6px;
      [class^="icon-"]{
        font-size: 22px;
      }
    }
    .announce-text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 60px);
      height: 38px;
      .top-wrapper{
        display: flex;
        justify-content: space-between;
        .time{
          font-size: $font-02;
          line-height: $font-06;
          color: $blue-gray-8;
        }
        .smallest-btn{
          display: none;
          width: 16px;
          height: 16px;
          min-height: auto;
          padding: 0;
          font-size: $font-06;
          color: $blue-gray-6;
        }
      }
      .message{
        font-size: $font-04;
        line-height: $font-08;
        font-weight: 600;
        color: $blue-gray-11;
      }
    }
  }
  &:hover{
    border-color: $primary;
    .announce-content{
      .announce-text{
        .top-wrapper{
          .smallest-btn{
            display: block;
          }
        }
      }
    }
  }
  &.disable{
    border: 1px solid $blue-gray-3;
    box-shadow: none;
    cursor: auto;
    .mark-new{
      opacity: 0.5;
    }
    .announce-content{
      .app-announce-icon{
        opacity: 0.5;
      }
      .announce-text{
        .top-wrapper{
          .time{
            color: $blue-gray-6;
          }
        }
        .message{
          font-weight: 400;
          color: $blue-gray-6;
        }
      }
    }
    &:hover {
      border-color: $blue-gray-3;
      .announce-content{
        .announce-text{
          .top-wrapper{
            .smallest-btn{
              display: none;
            }
          }
        }
      }
    }
  }
  &.visited{
    background: $blue-gray-0;
    box-shadow: none;
    &.disable{
      .announce-content{
        .announce-text{
          .message{
            color: $blue-gray-6;
          }
        }
      }
    }
  }
}

// announce-icon
.app-announce-icon{
  &.aunnounce-hr {
    color: $purple-icon;
    background: $purple-icon-bg;
  }
  &.aunnounce-attandance-accept{
    color: $yellow-chip;
    background: $yellow-chip-bg;
  }
  &.aunnounce-vacation {
    color: $green-icon;
    background: $green-icon-bg;
  }
  &.aunnounce-approval-receive{
    color: $blue-icon;
    background: $blue-icon-bg;
  }
  &.aunnounce-approval-accept {
    color: $primary;
    background: rgba(110, 152, 248, 0.08);
  }
  &.aunnounce-notice {
    color: $pink-icon;
    background: $pink-icon-bg;
  }
  &.aunnounce-reject{
    color: $error;
    background: rgba(251, 107, 107, 0.08);
  }
}